# TOPIC: String Based Assignment Problem

# Question 1

Write a program to reverse a string.

In [41]:
# first we need a string which have to be reversed and stored in str_1 variable.
# in this case 'pwskills' can be taken as string.

str_1 = "pwskills"


# next step is to reverse the string. 
# in this case, the first index can be taken as -1, and jump can be taken as -1 and stored in str_2 variable.


str_2 = str_1[-1::-1]

# now by printing the str_2 variable

str_2

'sllikswp'

# Question 2

Check if a string is a palindrome.

In [42]:
# palindrome is a function which is returns the same value even the variable value was reversed. 
# according to question, first we need a string which have to reversed and check if the value remains same or not.
# in string, we can take "pwskills" as string
str_3 = "pwskills"


# first the string is reversed and stored into str_4 variable
str_4 = str_3[-1::-1]


# for checking palindorme, if-else statement or function can be performed.
# if values of str_3 and str_4 remains same then the string is in palindrome 
# if  values of the string are not remains same after reverse, then the string is not in palindorme.
if str_4 == str_3:
    print(" the string is in palindrome")
else:
    print("string is not in palindrome")

string is not in palindrome

# Question 3

Convert a string to uppercase.

In [43]:
# for evaluation of this question, I take my name as string and stored into str_5 variable.
str_5 = "dibyendu"

# for converting a string into uppercase, upper() function can be used and stored into str_6 variable. 
str_6 = str_5.upper()

# now, printing the str_6 variable
str_6

'DIBYENDU'

# Question 4

Convert a string to lowercase.

In [46]:
# for evaluation of this question, I take str_6 variable since it is already in uppercase. 
# first checking str_6
str_6

# for lowercase a string, lower() function can be used and stored into str_7 variable.
str_7 = str_6.lower()

# now printing the str_7 variable
str_7

'dibyendu'

# Question 5

Count the number of vowels in a string.

In [47]:
# for counting the number of vowels in a string, first we need a string value. 
# in this scenario, I take my full name as a string. 
str_8 = "dibyendu chowdhury"


#  all the vowel stored in another variable (let say y)
y = "aeiouAEIOU"


# count() function allows to count the number of the vowel taken in the string. 
# with sum() function we can calculate the total vowel present in the str_8 and typecasting with count() function
# counting the total vowel and stored into count named variable
count = sum(str_8.count(vowel) for vowel in y)


# printing the count variable
print(count)

5

# Question 6

Count the number of consonants in a string.

In [48]:
# for counting the number of vowels in a string, first we need a string value. 
# in this scenario, I take my full name as a string.
str_9 = "dibyendu chowdhury"

#  all the consonants stored in another variable (let say z)
z = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"

# count() function also allows to count the number of consonants provided in the string. 
# with sum() function we can calculate the total consonants present in the str_9
# counting the total vowel and stored into count_2 variable
count_2 = sum(str_9.count(consonants) for consonants in z)


# printing the count_2 variable
print(count_2)

12

# Question 7

Remove all whitespaces from a string

In [50]:
# for evaluation of this question, strip() function can be used.
# lstrip() allows to remove spaces from the left side and rstrip() allows to remove spaces from the right side of the string.
str_10 = "           pwskills          "


# in the above string, strip() function can be used as it allows to remove whitespaces from both end from any string.
# output of the operation stored into str_11 variable
str_11 = str_10.strip()
    

# now printing the variable str_11
str_11

'pwskills'

# Question 8

Find the length of a string without using the `len()` function.

In [51]:
# we can also find the length of a string without using len() function
# first we need to take a string. we can use "pwskills" as string
str_12 = "pwskills"


# in this scenario, for loop can be performed
# for each iteration (s) count will be s+1
s = 0
for i in str_12:
    s = s+1
    

# now printing the value of s
print(s)

8

# Question 9

Check if a string contains a specific word.

In [52]:
# this query can be implemented by using the if-else statement
# if the word is found then it will print "the word is found"
# else it will print "the word is not found"
# first we need to take a sentence as a string"
str_13 = "my name is dibyendu chowdhury"


# from the above string, we will find "is" string
# in another variable (let say m) 'is' word is stored
m = "is"


# implementing if-else statement
if m in str_13:
    print(" the word 'is' available in the sentence")
else:
    print(" the word 'is' not available in the sentence")

 the word 'is' available in the sentence

# Question 10

Replace a word in a string with another word

In [53]:
# for this question, replace() function can be used. 
# first we take a string and stored into str_14 variable
str_14 = "happy christmas"


# now, replacing the "happy" word with "merry" and stored to str_15 variable
str_15 = str_14.replace("happy", "merry")

# printing str_15

print(str_15)

merry christmas

# Question 11

Count the occurrences of a word in a string.

In [54]:
# this query can be implemented by using count() command. 
# count() command allows to count the occurrence of any word in the string
str_16 = "today is rainy weather and it is best for coding"

# implementing count function

str_16.count("is")

2

# Question 12

Find the first occurrence of a word in a string

In [55]:
# this query can be implemented by using find() command
# find() command allows to find first occurrence of any word in the string
# find() command shows the index value of the word taking first index value as 0.
str_17 = "today is rainy weather and it is best for coding"


# implementing find() function

str_17.find("weather")

15

# Question 13

Find the last occurrence of a word in a string.

In [56]:
# using rfind() function, this question can be solved. 
# rfind() function returns the last occurence of a word in a string. 
str_18 = "today is rainy weather and it is best for coding"


# implementing rfind() function

str_18.rfind("weather")

15

# Question 14

Split a string into a list of words

In [57]:
# for this query, we can use the str_18 variable
# split() function can be used for this query. 
# the output value stored into str_19 using typecasting list() function.
# printing str_18 first
print(str_18)

str_19 = list(str_18.split()) # implementing split() function with typecasting list() function

# printing the str_19 
str_19

today is rainy weather and it is best for coding

['today', 'is', 'rainy', 'weather', 'and', 'it', 'is', 'best', 'for', 'coding']

# Question 15

Join a list of words into a string

In [59]:
# for this querry we can use the str_19 variable value
# first printing the str_19 
print(str_19)

# to join list of word into a string, we can use join() function
# we can join the list of the word separating each word with space. 
str_20 = " ".join(str_19)

# printing str_20
print(str_20)

['today', 'is', 'rainy', 'weather', 'and', 'it', 'is', 'best', 'for', 'coding']
today is rainy weather and it is best for coding

# Question 16

Convert a string where words are separated by spaces to one where words
are separated by underscores

In [60]:
# we can use str_20 as the string
# printing str_20 first
print(str_20)

# for converting string where words are separated by spaces to words are separated by underscore we can use the join() function
# split() function split the string where spaces are available within the string and then typecasting join() function 
# we use underscore in double quotation according to the question.
str_21 = "_".join(str_20.split())


# printing str_21
print(str_21)

today is rainy weather and it is best for coding
today_is_rainy_weather_and_it_is_best_for_coding

# Question 17

Check if a string starts with a specific word or phrase

In [62]:
# this question can be solved by using the starstwith() function
# here, we can use str_20 as a string
# printing str_20 first
print(str_20)

 
# in the above string, we will try to find the string starts with the word "today". 
# as we already know that, 'today' word is already available in first position so it will return True 
str_20.startswith("today")

today is rainy weather and it is best for coding

True

# Question 18

Check if a string ends with a specific word or phrase

In [65]:
# this question can be solved by using the endswith() function
# here, we can use str_20 as a string
#printing str_20
print(str_20)


# if in the string, the word is available, then it will return True, if not then ti will return False. 
# in the above string, we will try to find the string ends with the word "today". 
# as we already know that word is not in last position so it will return False
str_20.endswith("today")

today is rainy weather and it is best for coding

False

# Question 19

Convert a string to title case (e.g., "hello world" to "Hello World").

In [68]:
# for converting a string into title case, we can use title() function. 
# for executing the program, we take str_20 as our program execution.
# printing str_20 first
print(str_20)


# implementing title() function
print(str_20.title())

today is rainy weather and it is best for coding
Today Is Rainy Weather And It Is Best For Coding

# Question 20

Find the longest word in a string

In [71]:
# for performing this question str_20 as our string is used.
# printing the str_20
print(str_20)

# now splitting the string into each words and stored into str_22 variable
str_22 = str_20.split()

# now printing str_22
print(str_22)

# using max() function to obtain maximum character value of any word in the string. 
# for measuring longest word, we can use len as key parameter. and stored into long variable.
# finding the longest word
max(['today', 'is', 'rainy', 'weather', 'and', 'this', 'weather', 'is', 'best', 'for', 'coding'])


# by using len() function, we can obtain the length of the longest character
long =  max(['today', 'is', 'rainy', 'weather', 'and', 'this', 'weather', 'is', 'best', 'for', 'coding'],key = len)


# printing measured length
print(len(long))

today is rainy weather and it is best for coding
['today', 'is', 'rainy', 'weather', 'and', 'it', 'is', 'best', 'for', 'coding']
7

# Question 21

Find the shortest word in a string

In [76]:
# for performing this question taking str_20 as our string
# printing str_20
print(str_20)


# now splitting the string into each words and stored into str_23
str_23 = str_20.split()


# printing str_23
print(str_23)


# using min function we can obtain the min index value of any word in the string. 
# for measuring shortest word, we can use len as key parameter. and stored into short variables 
# for measuring shortest word we can use the min() function
short =  min(['today', 'is', 'rainy', 'weather', 'and', 'this', 'weather', 'is', 'best', 'for', 'coding'],key = len)


# finding the length of the shortest word
len(short)

today is rainy weather and it is best for coding
['today', 'is', 'rainy', 'weather', 'and', 'it', 'is', 'best', 'for', 'coding']

2

# Question 22

Reverse the order of words in a string

In [78]:
# for executing this querry, str_20 can be used.
# Priinting str_20 first
print(str_20)


# for reversing the order of the string, split() operation can be used 
# for reversing, the starting index will be -1, jump index will be -1
# the outcome of the program stored into str_24
str_24 = str_20.split()[::-1]


# printing str_24
str_24


# changing list to string and stored into str_25
str_25 = " ".join(str_24)


# printing str_25
str_25

today is rainy weather and it is best for coding

'coding for best is it and weather rainy is today'

# Question 23

Check if a string is alphanumeric

In [80]:
# for this question isalnum() function can be used. 
# for executing this operation, str_20 is taken
# printing the str_20
print(str_20)


# if the string is alphanumeric it means if the string have alphabets as well as numbers, it will show True. 
#if the string does not have the alphanumeric value, it will show False
str_20.isalnum()


# we can perform this function with another string to show the function works properly or not
# this time we'll take an alphanumeric string.
str_26 = "dibyendu101"



# checking the above string is alphanumeric or not
str_26.isalnum()

today is rainy weather and it is best for coding

True

# Question 24

Extract all digits from a string

In [81]:
# we take a string for performing this question
str_27 = "it's been 2 days, the weather condition is not good."


# for performing this operation, for loop can be used. 
# string splitting can be used for extracting the integer in the string.
num = [int(i) for i in str_27.split() if i.isdigit()]


# first split the string and then execute int(i) for int value in string 27
# isdigit() is used for extracting the digit from the string and stored into num variable
# now printing the num variable
print("The numbers available in the string is : " + str(num))

The numbers available in the string is : [2]

# Question 25

Extract all alphabets from a string

In [82]:
# extracting alphabet from a string
# this question can be sloved by using isalpha() and list comprehension
# first we use a string in which th code can be implemented
# we can use str_27 string
print(str_27)


# creating an empty list for store the alphabets
alpha = []


# now iterating through the string and checking each character from the string whether it is an alphabet or not.
# for loop can be used for this scenario
for character in str_27:
    if character.isalpha():
        alpha.append(character)
        
# now printing the extracted alphabets
print("the extracted alphabets are :", alpha)

it's been 2 days, the weather condition is not good.
the extracted alphabets are : ['i', 't', 's', 'b', 'e', 'e', 'n', 'd', 'a', 'y', 's', 't', 'h', 'e', 'w', 'e', 'a', 't', 'h', 'e', 'r', 'c', 'o', 'n', 'd', 'i', 't', 'i', 'o', 'n', 'i', 's', 'n', 'o', 't', 'g', 'o', 'o', 'd']

# Question 26

Count the number of uppercase letters in a string

In [84]:
# for this question, str_27 can be used.
# first we need to use title() function on the string for getting upper case and stored it into str_28
print(str_27)

# using title() function 
str_28 = str_27.title()

# printing string 
str_28


# for this query, sum() function can be used for determining total uppercase available in a string
# for uppercase, string.isupper() function can be used. map() function can also used in this scenario.
#map() function Make an iterator that computes the function using arguments from each of the iterables. 
# map() function stops when the shortest iterable is exhausted
# this program stored in new variable named str_29
str_29 = sum(map(str.isupper, str_28))


# printing the str_29 variable for getting the result
print(str_29)

it's been 2 days, the weather condition is not good.
10

# Question 27

Count the number of lowercase letters in a string

In [86]:
# for performing this operation, str_28 can be used
# printing str_28
print(str_28)


# for this query, sum() function can be used for determining total lowercase available in a string
# for lowercase, string.islower() function can be used. map() function can also used in this scenario.
#map() function Make an iterator that computes the function using arguments from each of the iterables. 
# map() function stops when the shortest iterable is exhausted
# this program stored in new variable named str_30
str_30 = sum(map(str.islower, str_28))

# printing the str_30 variable for getting the result
print(str_30)

It'S Been 2 Days, The Weather Condition Is Not Good.
29

# Question 28

Swap the case of each character in a string

In [88]:
# for performing this program, swapcase() function can be used. 
# swapcase() function converts uppercase character into lowercase and vice versa of the string. 
# we can use str_28 and perform swapcase() function over it
# printing the str_28
print(str_28)


# the ooutput stored into another variable named str_31
str_31 = str_28.swapcase()


# now printing str_31 to get the result
print(str_31)

It'S Been 2 Days, The Weather Condition Is Not Good.
iT's bEEN 2 dAYS, tHE wEATHER cONDITION iS nOT gOOD.

# Question 29

Remove a specific word from a string

In [90]:
# this query can be executed by using replace() function. 
# first we need a string, here str_28 can be used.
print(str_28)


# replace() function is used to remove "Not" word from the string. 
str_28.replace("Not ", "")

It'S Been 2 Days, The Weather Condition Is Not Good.

"It'S Been 2 Days, The Weather Condition Is Good."

# Question 30

Check if a string is a valid email address

In [91]:
# this querry can be implemented by using email module

from email.utils import parseaddr
def is_valid_email(email):
    # parseaddr function allows to split the email adress into name and adress parts
    name, address = parseaddr(email)
    
    if "@" in address and "." in address:
        return True
    return False
    # checking if the adress part have @ and . then the email adress is vaild
    # if don't have then the email address is not valid
    
# print execution and testing the code

email = "example@email.com"
if is_valid_email(email):
    print(f"{email} is a valid email address.")
else:
    print(f"{email} is not a valid email address.")

example@email.com is a valid email address.

# Question 31

Extract the username from an email address string

In [92]:
# this query can be extracted by using split() function
# we can split the entire email address into username and domain 
# username will be before @ character and domain will be after @ character and 0 index value will be username
# we take example@gmail.com as our email address
email = "example@gmail.com"


# after splitting, username stored into username variable and print the variable to get the desired outcome
username = email.split('@')[0]
print(username)

example

# Question 32

Extract the domain name from an email address string

In [94]:
# this query can be extracted by using split() function
# we can split the entire email address into username and domain 
# username will be before @ character and domain will be after @ character and 1 index value will be username
# we take example@gmail.com as our email address
email = "example@gmail.com"


# after splitting, domain name stored into domain variable and print the variable to get the desired outcome
domain = email.split('@')[1]
print(domain)

gmail.com

# Question 33

Replace multiple spaces in a string with a single space

In [96]:
# we take a string value with multiple spaces to perform this operation
string = "This   is    a   string   having   multiple   spaces    in     one      sentence."

# printing the 'string'
print(string)


# split() operation splits the string into words and removes multiple spaces present on the string
split_str = string.split()

# using join() function which  joins the words together with a single space and make a new string and stored into str_32
str_32 = ' '.join(split_str)
print(str_32)

This   is    a   string   having   multiple   spaces    in     one      sentence.
This is a string having multiple spaces in one sentence.

# Question 34

Check if a string is a valid URL

In [98]:
# for executing the question, importing urlparse from urllib.parse module can be used. 
from urllib.parse import urlparse


# using this urllib module, user define function can be created.
def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False
    

#example usage of url.
# here in url variable we can place the URL and check whether the URL is valid or not
url = "https://www.google.com"


# executing print whether the url is valid or not
if is_valid_url(url):
    print(f"{url} is valid url.")
else:
    print(f"{url} is invalid url.")

https://www.google.com is valid url.

# Question 35

Extract the protocol (http or https) from a URL string

In [99]:
# for executing the question, importing urlparse from urllib.parse module can be used. 
from urllib.parse import urlparse

# using urllib module extract_protocol user defined function created and code implemented
def extract_protocol(url):
    parsed_url = urlparse(url)
    if parsed_url.scheme:
        return parsed_url.scheme
    else:
        return "No protocol specified"
    
    
    
# Example usage
# here in url variable we can place the url and check what is the protocol of the url
url = "https://www.google.com"
protocol = extract_protocol(url)
print(f"The protocol of the URL is: {protocol}")

The protocol of the URL is: https

# Question 36

Find the frequency of each character in a string

In [100]:
# first we need a string to execute the coding
str_30 = " hello everyone welcome to python coding"


# this question can be answered by using set() function and count() function.
count_char ={i: str_30.count(i) for i in set(str_30)}


# now printing the result
print(" the frequency of each character of a string is:", str(count_char))

 the frequency of each character of a string is: {'d': 1, 'p': 1, 'h': 2, 'v': 1, ' ': 6, 'l': 3, 'r': 1, 'o': 6, 'n': 3, 'i': 1, 'e': 6, 't': 2, 'g': 1, 'y': 2, 'w': 1, 'm': 1, 'c': 2}

# Question 37

Remove all punctuation from a string

In [101]:
# first we need a string with punctuation
str_31 = "Hello, everyone. good@ morning$  lets: do some ! coding ;"


# importing string for executing this command
import string


# translate() function replace each character in the string using given translation table.
# marketrans() function returns a translation table usable for str.translate()
# punctuation() function is a collection of string constants
# using these function, we can easily remove all the punctuation from a string
str_32 = str_31.translate(str.maketrans('', '', string.punctuation))
print(str_32)

Hello everyone good morning  lets do some  coding

# Question 38

Check if a string contains only digits

In [102]:
# we can use a string as we need a string to perform this operation
# this query can be obtained by using string.isdigit() function
str_33 = " this is a string which have only alphabets"


# if else function can be used in this case
if str_32.isdigit():
    print(" this string contains only digits")
else:
    print(" this string does not have only digits")

 this string does not have only digits

# Question 39

Check if a string contains only alphabets

In [103]:
# we can use str_33 here also
# this query can be obtained by using string.isalpha() function

str_33 = " this is a string which have only alphabets"


# if-else statemnt can be used in this case

if str_33.isalpha():
    print('Given string contains only alphabets.')
else:
    print('Given string does not contain only alphabets.')

Given string does not contain only alphabets.

# Question 40

Convert a string to a list of characters.

In [105]:
# we can take str_33 and perform this operration
# printing str_33

print(str_33)


# converted string to a list is stored into another variable (lets say str_34)
str_34 = list(str_33)


# printing the value
print(str_34)

 this is a string which have only alphabets
[' ', 't', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 'w', 'h', 'i', 'c', 'h', ' ', 'h', 'a', 'v', 'e', ' ', 'o', 'n', 'l', 'y', ' ', 'a', 'l', 'p', 'h', 'a', 'b', 'e', 't', 's']

# Question 41

In [106]:
# anagram of a string is another string which have the same character but the order of the character will be different.
# in this scenario, we need two string which have the same character
str_35 = " Tom Marvolo Riddle"
str_36 = " I am Lord Voldemort"


# defining an user define function for executing this code
# first we need to remove all the spaces from the string and make the string in lowercase
def are_anagrams(str_35, str_36):
    str_35 = str_35.replace(" ","").lower()
    str_36 = str_36.replace(" ","").lower()
    return sorted(str_35) == sorted(str_36)


# sorting the characters from both strings and compare between them.
# executing program
if are_anagrams(str_35, str_36):
    print(f"{str_35} and {str_36} are in anagram format")
else:
    print(f"{str_35} and {str_36} are not in anagram format")

 Tom Marvolo Riddle and  I am Lord Voldemort are in anagram format

# Question 42

Encode a string using a Caesar cipher

# Question 43

Decode a Caesar cipher encoded string.

# Question 44

Find the most frequent word in a string

In [108]:
# we can solve this question by using mode() function
from statistics import mode

# now initializing matrix
str_36 = "I am dibyendu chowdhury. I am studing from pwskills. I think this is the best platform to learn data science"

# making list from the string by word
list_1 = list(str_36.split())

# printing list_1
print(list_1)

# getting frequency mode() function can be used and stored into result variable
result = mode(list_1)


# printing the most frequent word
print("Word with maximum frequency : " + str(result))

['I', 'am', 'dibyendu', 'chowdhury.', 'I', 'am', 'studing', 'from', 'pwskills.', 'I', 'think', 'this', 'is', 'the', 'best', 'platform', 'to', 'learn', 'data', 'science']
Word with maximum frequency : I

# Question 45

Find all unique words in a string.

In [3]:
# first we need a string in which we will perform this operation
str_38 = "we have one unique string. from this string, we have to find some unique words"

# printing the string 
print(str_38)


# splitting the string into list of words
str_39 = list(str_38.split())


# this list is further converted into set for removing any duplicate words
str_40 = set(str_39)


# we can use the for loop for executing.
for word in str_40:
    print(word)

we have one unique string. from this string, we have to find some unique words
we
from
unique
words
to
one
find
this
string,
some
have
string.

# Question 46

Count the number of syllables in a string.

In [111]:
# an user-defined function created for executing this question
# if else statement can be used in this scenario and multiple for loop will be needed for executing this program. 

def syllable_count(word):
    word = word.lower() #to make all the word to lowercase
    count = 0
    vowels = "aeiouyAEIOUY" 
    if word[0] in vowels:
        count += 1 #if vowels found, it will add 1 value
    for i in range(1, len(word)): # starting from 1st and ending in last index
        if word[i] in vowels and word[i - 1] not in vowels: 
            count += 1
    if word.endswith("e"): #if 'e' found in the string then it will also count 1 syllable
        count -= 1
    if count == 0:
        count += 1
    return count


# printing syllables in a string

print(syllable_count('HAIRY'))

2

# Question 47

Check if a string contains any special characters.

In [112]:
# to check any special character in a string, we can use for loop in this scenario. 
n = 'pwskills'


# first we need to split the entire string
n1 = n.split()


# this question can be done by using for loop and if-else statement
c = 0
special_char= "[@_!#$%^&*()<>?/\|}{~:]" # special character set 
for i in range(len(n1)): # for checking if the string have any kind of special character
    if n[i] in special_char:
        c += 1 # if any sopecial character is found then add 1 to c
    
if c:
    print("string have some special character") # of the value of c is greater than 0 then the string have some special character
else:
    print("this string does not have any special character") # it the string does not have any special character then the value of c will be 0

this string does not have any special character

# Question 48

Remove the nth word from a string

In [115]:
# first we will need a string
string = 'this is the string'


# using split() function, this string can be splitted and stored into new variable
n_string = string.split()


# printing n_string
print(n_string)


# now removing the n'th string 
# in this case, removed 'is' from the string
n_string.remove('is')


# now printing the n_string in list format
n_string_2 = ' '.join(n_string)


# now printing the n_string_2
print(n_string_2)

['this', 'is', 'the', 'string']
this the string

# Question 49

Insert a word at the nth position in a string.

In [117]:
# we can take n_string_2 as string 
n_string_2


# splitting the string into list
n_string_3 = n_string_2.split()
n_string_3


#inserting 'is' in the string
n_string_3.insert(1,'is') # inserting value in the list


# printing n_string_3
print(n_string_3)


# now joining the string
" ".join(n_string_3)

['this', 'is', 'the', 'string']

'this is the string'

# Question 50

Convert a CSV string to a list of lists.

In [118]:
# CSV means comma separated values. 
# this question can be done by using split() function 
x = 'welcome,to,pwskills'


y = x.split(',') # splitting string separated by comma

# printing y as list
print(list(y))

['welcome', 'to', 'pwskills']

# List Based Practice Problem

# Question 1

Create a list with integers from 1 to 10

In [8]:
# by using [] paranthesis, we make a list 
a = [1,2,3,4,5,6,7,8,9,10]


print(type(a)) # printing the type of the list

<class 'list'>

# Question 2

Find the length of a list without using the `len()` function

In [9]:
# make a new list for executing this command
# this query can be done by using user defined function
a1 = ['apple','banana','cherry','mango']


# printing a1
print(a1)


def str_length(str1):
    return sum(1 for char in str1) # we created user defind function str_length. 
#Using sum() function with typecasting for loop, this question can be answered. 

# printing the length of the list
str_length(['apple','banana','cherry','mango'])

['apple', 'banana', 'cherry', 'mango']

4

# Question 3

Append an element to the end of a list.

In [10]:
# for executing this query, append() function can be used.
# we can use a1 list for performing this 
# printing a1 first
print(a1)


a1.append('guava') # it will add guava at the and of the list and stored into a2 variable


print(a1) # checking the list if properly executed or not

['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry', 'mango', 'guava']

# Question 4

Insert an element at a specific index in a list.

In [12]:
# for executing this answer, a list is needed. 
# we can make a list for answering this question
a2 = ['sunday', 'monday', 'tuesday', 'wednesday', 'friday', 'saturday']


# printing the list
print(a2)


# for inserting a value in the list, insert() function can be used

a2.insert(4,'thursday') #inserting 'thursday' at 4th index position  

print(a2) #printing the modified a2 list

['sunday', 'monday', 'tuesday', 'wednesday', 'friday', 'saturday']
['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']

# Question 5

Remove an element from a list by its value.

In [13]:
# in this scenario, the above a2 list can be used. 
# printing the a2 list
print(a2)


# for removing value, remove() function can be used. 

a2.remove('tuesday') # removing tuesday value from the list

print(a2) # now printng the modified a2 list.

['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
['sunday', 'monday', 'wednesday', 'thursday', 'friday', 'saturday']

# Question 6

Remove an element from a list by its index.

In [15]:
# this question can be anwered by using pop() function.
# first we need a list 
# we can use a1 list in this scenario
# first printing a1 list
print(a1)


a1.pop(2) # it remove the element on the 3rd index



print(a1) #now checking the list.

['apple', 'banana', 'cherry', 'mango', 'guava']
['apple', 'banana', 'mango', 'guava']

# Question 7

Check if an element exists in a list

In [16]:
# we need a list to executing this list 
l = [1,2,3,4,5,6,7]


# checking the 4 number present in the list or not.
# for this query, if-else statement can be used.
i =7 
if i in l:
    print('7 number present in the list')
else:
    print('7 number in not present in the list')

7 number present in the list

# Question 8

Find the index of the first occurrence of an element in a list.

In [17]:
# for answering this question, index() function can be used.
# we can take a list for executing this command
l2 = ['harry', 'bob', 'rahul', 'david', 'harry', 'rahul']


l2.index('harry') #it shows the first occurence index of the value 'harry'

0

# Question 9

Count the occurrences of an element in a list.

In [19]:
# for executing this query, l2 list can be used. 
# printing l2
print(l2)

# by using count() function, this question can be answered
l2.count('rahul') # it shows the number of occurence of the value 'rahul'

['harry', 'bob', 'rahul', 'david', 'harry', 'rahul']

2

# Question 10

Reverse the order of elements in a list.

In [21]:
# we can use l2 list in this scenario
# printing l2 list
print(l2)

# we can reverse the order by using jump to -1
l2[::-1]

['harry', 'bob', 'rahul', 'david', 'harry', 'rahul']

['rahul', 'harry', 'david', 'rahul', 'bob', 'harry']

# Question 11

Sort a list in ascending order

In [34]:
# we can use sort() function for executing this question
# first we need a list in which we execute this program 
l3 = [2,4,6,2,7,5,1,9,0,4,6,3,2,8,5]


l3.sort() # sorting the values

l3 # printing the values

[0, 1, 2, 2, 2, 3, 4, 4, 5, 5, 6, 6, 7, 8, 9]

# Question 12

Sort a list in descending order

In [35]:
# by using sort() function, this query can be executed
# we have to sort the values in descending order
# we have to use areverse = True parameter in the sort function
# printing l3
print("before sorting the list: ", l3)


# now sorting the values
l3.sort(reverse = True)


# now printing the l3 list again to check if properly eecuted or not
print("after sorting the list in descending order: ", l3)

before sorting the list:  [0, 1, 2, 2, 2, 3, 4, 4, 5, 5, 6, 6, 7, 8, 9]
after sorting the list in descending order:  [9, 8, 7, 6, 6, 5, 5, 4, 4, 3, 2, 2, 2, 1, 0]

# Question 13

Create a list of even numbers from 1 to 20

In [36]:
# first we need a for loop with typecasting if-else
even_nums = [x for x in range (1,21) if x%2 == 0]

# printing the even_num variable
print(even_nums)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Question 14

Create a list of odd numbers from 1 to 20

In [37]:
# first we need a for loop with typecasting if-else
odd_nums = [x for x in range(1,21) if x%2 != 0]

# printing the odd_num
print(odd_nums)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# Question 15

Find the sum of all elements in a list

In [40]:
# first we make a list of some random numbers
list_1 = [12,65,78,15,65,22,35]

# printing the list
print(list_1)

total = 0 #making another variable as total


# now iterate each element one by one from the list and add the value in the total variable
# for loop can be used for this
for ele in range(0,len(list_1)):
    total = total + list_1[ele]
    

# printing the variable total
print("sum of the all elements in the list:", total)

[12, 65, 78, 15, 65, 22, 35]
sum of the all elements in the list: 292

# Question 16

Find the maximum value in a list

In [41]:
# we can use list_1 for execution of this question
print(list_1)


max(list_1) # for finding the maximum value in the list

[12, 65, 78, 15, 65, 22, 35]

78

# Question 17

Find the minimum value in a list

In [43]:
# we can use list_1 for execution of this question
# printing the list_1
print(list_1)


min(list_1) # for finding the minimum value in the list

[12, 65, 78, 15, 65, 22, 35]

12

# Question 18

Create a list of squares of numbers from 1 to 10

In [44]:
# first we need a list value of numbers 1 to 10
list_2 = list(range(1,11))

# for loop can be used in this scenario and stored into squares variable 
squares = [number ** 2 for number in list_2]

# printing the squares variable
print("printing the list of square numbers: ", squares)

printing the list of square numbers:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Question 19

Create a list of random numbers

In [48]:
# in this question, we will be create a random list of 10 numbers
# first we need to import 'random'
import random


# now making a blank list named rand_list
rand_list = []


# taking another variable named n and value put is 10
n = 10


# using for loop, this question can be answered
# using randint() function this query can be executed

for i in range(n):
    rand_list.append(random.randint(1,9))
    
    
rand_list_2 = print("random number list is: ",rand_list)

random number list is:  [3, 4, 2, 6, 3, 9, 2, 4, 3, 9]

# Question 20

Remove duplicates from a list

In [49]:
# we can make a list for removing duplicates from a list
rand_list_3 = [3,6,5,4,7,8,5,4,1,2,5,9,6,5,8,1,3,2,4]

# printing the list
print(rand_list_3)


rand_list_4 = list(set(rand_list_3)) #set() function removes the duplicate value and then typecasting the set value to list named rand_list_4

rand_list_4 #printing the rand_list_4

[3, 6, 5, 4, 7, 8, 5, 4, 1, 2, 5, 9, 6, 5, 8, 1, 3, 2, 4]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Question 21

Find the common elements between two lists

In [51]:
def common_element(a, b): # an user defined function is created for this scenario
    a_set = set(a)
    b_set = set(b) #passing set value of a and b
 
    if (a_set & b_set):
        print(a_set & b_set)
    else:
        print("No common elements") # if common value is present then print the common value, oterwise no common elements printed
        

# for finding a common element between two lists, two lists can be make with a common variable for checking code performance
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9] # putting the value of a and b in the form of list
common_element(a, b)

{5}

# Question 22

Find the difference between two lists

In [52]:
# if the element is present in the second list then the element is subtracted from the list and the element added in temp_list
list1 = [10, 15, 20, 25, 30, 35, 40]
list2 = [25, 40, 35] # two list generated for this question
 
temp_list = [] # a temporary list created
for element in list1: # for loop created for executing this question
    if element not in list2:
        temp_list.append(element)
        

print(temp_list) # printing temp_list

[10, 15, 20, 30]

# Question 23

Merge two lists

In [58]:
# in this scenario, we can use list1 and list2 and merge them
print("list1: ",list1)
print("list2: ",list2)


list3 = list1 + list2 #two list can be merged by simply using (+) addition operator.


#printing list3
print("after merging two list, the new list is:", list3)

list1:  [10, 15, 20, 25, 30, 35, 40]
list2:  [25, 40, 35]
after merging two list, the new list is: [10, 15, 20, 25, 30, 35, 40, 25, 40, 35]

# Question 24

Multiply all elements in a list by 2

In [61]:
# in this case, we can use list1
# printing list1
print("list1:",list1)


multiplied_list = [i * 2 for i in list1] # for every value, the value multiplied with 2 and stored into multiplied_list


# printing multiplied_list
print("muliplied list after all elements are multipled by 2 is:", multiplied_list)

list1: [10, 15, 20, 25, 30, 35, 40]
muliplied list after all elements are multipled by 2 is: [20, 30, 40, 50, 60, 70, 80]

# Question 25

Filter out all even numbers from a list

In [64]:
# in this scenario, we can use list1
# printing list1
print("list1:", list1)


even_list = [i for i in list1 if i % 2 == 0] 
#if values%2 will be 0, then the values are even number.
# even number values are stored into even_list


print("list of all even number from list1 is:", even_list) #printing the even_list

list1: [10, 15, 20, 25, 30, 35, 40]
list of all even number from list1 is: [10, 20, 30, 40]

# Question 26

Convert a list of strings to a list of integers

In [67]:
# taking a list of string first
string_list = ["1", "2", "3"]


# printing string list
print("string list:", string_list)


# now taking a blank list named integer_list
integer_list = []


# for loop can be used in this scenario. 
for string in string_list:
    integer_list.append(int(string)) # it will append to the integer_list

print("integer list is:", integer_list) #now printing the integer list

string list: ['1', '2', '3']
integer list is: [1, 2, 3]

# Question 27

Convert a list of integers to a list of strings

In [69]:
# we can use the integer_list for this question 
print("integer list",integer_list)


str_list = [] # making a string list named str_list for this scenario


# for loop can be used in this case
for integer in integer_list:
    str_list.append(str(integer))
    
    
    
# printing the str_list
print("string list:",str_list)

integer list [1, 2, 3]
string list: ['1', '2', '3']

# Question 28

Flatten a nested list

In [73]:
# first we need a nested list
list_3 = [[10, 20, 30, 40], [50, 66, 70], [80, 90],[100]]

# printing the list_3
print("nested list:", list_3)

flat_list = sum(list_3, []) # using sum function for flatten a nested list

print('New list Is:', flat_list) # printing new list

nested list: [[10, 20, 30, 40], [50, 66, 70], [80, 90], [100]]
New list Is: [10, 20, 30, 40, 50, 66, 70, 80, 90, 100]

# Question 29

Create a list of the first 10 Fibonacci numbers

In [84]:
# fibonacci numbers are the numbers, in which each number is equal to the sum of the preceding two numbers. 
# for first 10 fibonacci numbers, we need an user-defined function 
# Function to generate the first n Fibonacci numbers and return them in a list
def generate_fibonacci_list(n):
    f_list = []
    x, y = 1, 2
    for i in range(n):
        f_list.append(x)
        x, y = y, x + y
    return f_list

# Generate the first 5 Fibonacci numbers
first_10_fibonacci_list = generate_fibonacci_list(10)

# Print the list
print(" first 10 fibonacci list is:", first_10_fibonacci_list)

 first 10 fibonacci list is: [1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# Question 30

Check if a list is sorted

In [85]:
#by using sorted() function, we can check if list is sorted or not
# first we need a tested list for this
test_list = [1, 4, 12, 8, 10]


# now printing the original list
print("Original list is : " + str(test_list))


flag = 0
if(test_list == sorted(test_list)): #using sorted() function for sorting the list. 
	flag = 1

    
# printing result using if-else statement
if (flag) :
	print ("Yes, List is sorted.")
else :
	print ("No, List is not sorted.")

Original list is : [1, 4, 12, 8, 10]
No, List is not sorted.

# Question 31

Rotate a list to the left by `n` positions

In [86]:
# first we need a list for executing this question
ltList = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50] # making a list of some integer values


leftRotate = int(input("Enter Position to Left Rotate List Items = ")) #taking a user input function for the 'n'th position rotation


print('Original List Items Before Left Rotating')
print(ltList) # printing the original list


list_2 = ltList[leftRotate:] + ltList[:leftRotate]


print('\nFinal List Items After Left Rotating')
print(list_2) # after ratating the 'n' th position, the final list is printed.

Enter Position to Left Rotate List Items =  2

Original List Items Before Left Rotating
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

Final List Items After Left Rotating
[15, 20, 25, 30, 35, 40, 45, 50, 5, 10]

# Question 32

Rotate a list to the right by `n` positions

In [87]:
# first we need a list for executing this question
ltList = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50] # making a list of some integer values


rightRotate = int(input("Enter Position to Right Rotate List Items = ")) #taking a user input function for the 'n'th position rotation


print('Original List Items Before Right Rotating')
print(ltList) # printing the original list


list_2 = ltList[-rightRotate:] + ltList[:-rightRotate]


print('\nFinal List Items After Right Rotating')
print(list_2) # after ratating the 'n' th position, the final list is printed.

Enter Position to Right Rotate List Items =  2

Original List Items Before Right Rotating
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

Final List Items After Right Rotating
[45, 50, 5, 10, 15, 20, 25, 30, 35, 40]

# Question 33

Create a list of prime numbers up to 50

In [156]:
# for loop can be used for this scenario

for num in range(1,51): # used range 1 to 50 as said in the question
    prime = True
    for i in range(2,num): 
        if (num%i==0):
            prime = False # if the number is divisible by 2 or the number itself, then the number is false means not prime
            
    if prime:
        print(num) # printing the prime numbers only

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

# Question 34

Split a list into chunks of size `n`

In [95]:
original_list = [1, 2, 3, 4, 5,6, 7, 8, 9] # taking a list first


start = 0 #starting value

end = len(original_list) # ending value

step = 3 # the length of the chunk sized list 

for i in range(start, end, step):
	x = i
	print(original_list[x:x+step])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

# Question 35

Find the second largest number in a list

In [97]:
# first we need a list to execute this question
# creating List of numbers
list1 = [10,20,30,40,50,50,60,40,70,80,90,10,90,100]

# printing the list
print(list1)


list2 = list(set(list1)) #convert the list into set for removing any possible duplicate values and stored into list2


list2.sort() #now sorting the list named list2


print("Second largest element in this list is:", list2[-2]) # now printing the second last element of list2

[10, 20, 30, 40, 50, 50, 60, 40, 70, 80, 90, 10, 90, 100]
Second largest element in this list is: 90

# Question 36

Replace every element in a list with its square

In [407]:
def square_list(list_1): # user defined function created
  for i in range(len(list_1)): #for loop is used for this case
    list_1[i] = list_1[i] ** 2 # implementing square value

my_list = [1, 2, 3, 4, 5] #takking a list for checking the program
square_list(my_list)
print(my_list)

[1, 4, 9, 16, 25]

# Question 37

Convert a list to a dictionary where list elements become keys and their indices become values

In [98]:
# we can use enumerate() function to perform this question 
# here we take a list of cities in which we can perform enumerate() function
city = ['Kolkata', 'Chennai', 'Delhi', 'Pune', 'Bangalore', 'Mumbai',]


city_dict = dict(enumerate(city)) #using enumerate() function and typecasting with dictionary to get the dictionary from the list 


print(city_dict) #printing the converted list to dictionary

{0: 'Kolkata', 1: 'Chennai', 2: 'Delhi', 3: 'Pune', 4: 'Bangalore', 5: 'Mumbai'}

# Question 38

Shuffle the elements of a list randomly

In [100]:
# first we use the city variable in this scenario
print("before shuffling list:", city)


import random #importing random library for shuffling the variable values

random.shuffle(city)  # shuffle() function is applied for this question.

print("after shuffling list:", city)

before shuffling list: ['Bangalore', 'Delhi', 'Kolkata', 'Pune', 'Chennai', 'Mumbai']
after shuffling list: ['Delhi', 'Kolkata', 'Mumbai', 'Bangalore', 'Chennai', 'Pune']

# Question 39

Create a list of the first 10 factorial numbers

In [101]:
# user defined function is created for answering this question
def factorial(n):
	
	return 1 if (n==1 or n==0) else n * factorial(n - 1) #if-else statement used in this case

num = 5 # taking a value for checking if the code is working properly or not
print("Factorial of",num,"is",factorial(num))

Factorial of 5 is 120

# Question 40

Check if two lists have at least one element in common

In [104]:
# first we need an user defined function
def common_member(a, b):
    a_set = set(a) 
    b_set = set(b)#chaging the value of a and b in set to remove any duplicate value
    
    
    if (a_set & b_set): 
        return True
    else:
        return False # if there are values common then it returns true, else false
    
    
# testing the code using sample lists

a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
print(common_member(a, b)) #here will return true for having one common member which is 5



# testing the code using another sample lists
a =[1, 2, 3, 4, 5]
b =[6, 7, 8, 9]
print(common_member(a, b)) # here will return false for not having any common member

True
False

# Question 41

Remove all elements from a list.

In [105]:
# first we need a list 
list_1 = [7,2,5,4,6,7,5,4,1,2,3,5,4,21,4]


# we can use clear() function to clear all the elements from the list
list_1.clear()


# printing the list_1 again for cheking the values present in the list or not
list_1

[]

# Question 42

Replace negative numbers in a list with 0

In [106]:
# first we need to import numpy for this operation
# importing numpy and store the library named np
import numpy as np

ini_list = np.array([1, 2, -3, 4, -5, -6]) # taking initial list with some negative integer named ini_list


print("initial list", ini_list) #printing the initial list


ini_list[ini_list<0] = 0 # for replacing all the negative values into 0

# printing result
print("new  list: ", ini_list)

initial list [ 1  2 -3  4 -5 -6]
new  list:  [1 2 0 4 0 0]

# Question 43

Convert a string into a list of words

In [108]:
# changing string into list by converting string into list.
s = "pwskills"

# printing the string
print("the string is:", s)

x = list(s)

print("after changing the string into list:", x)

the string is: pwskills
after changing the string into list: ['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

# Question 44

Convert a list of words into a string

In [110]:
# converting list of words into strings


list_1 = ['I', 'want', 'to', 'buy', 'apples', 'and', 'bananas']

# printing the list
print(list_1)

Str_1 = ' '.join([str(elem) for elem in list_1]) #joining elements of the list

print("after converting list to string:", Str_1) #printing the string

['I', 'want', 'to', 'buy', 'apples', 'and', 'bananas']
after converting list to string: I want to buy apples and bananas

# Question 45

Create a list of the first `n` powers of 2

In [111]:
# first we need to put a value of n
# we can use user input in this scenario
n = int(input("Enter the Total Number of Terms: "))


for i in range(n):
    print("2 raised to the power ", i, " is ", 2 ** i) # for loop can be used in this scenario

Enter the Total Number of Terms:  4

2 raised to the power  0  is  1
2 raised to the power  1  is  2
2 raised to the power  2  is  4
2 raised to the power  3  is  8

# Question 46

Find the longest string in a list of strings

In [113]:
# for finding longest string, len() function can be used
# we take city variable for executing this coding
print(city)


lengths = [len(s) for s in city] #finding the lengths of the values in the list


longest_index = lengths.index(max(lengths)) # for longest index values


longest_string = city[longest_index] #for longest string


print("Longest string is : " + longest_string) # now printing the longest string

['Delhi', 'Kolkata', 'Mumbai', 'Bangalore', 'Chennai', 'Pune']
Longest string is : Bangalore

# Question 47

Find the shortest string in a list of strings

In [115]:
# for finding shortest string, len() function can be used
# we take city variable for executing this coding
print(city)

lengths = [len(s) for s in city] #finding the lengths of the values in the list


shortest_index = lengths.index(min(lengths)) # for shortest index values


shortest_string = city[shortest_index] #for shortest string


print("Shortest string is : " + shortest_string) # now printing the shortest string

['Delhi', 'Kolkata', 'Mumbai', 'Bangalore', 'Chennai', 'Pune']
Shortest string is : Pune

# Question 48

Create a list of the first `n` triangular numbers

In [123]:
# for answering this question, an user defined function can be created
def generate_t_num_list(n):
    t_num_list = [] # an empty list is produced
    for i in range(1, n + 1):
        t_num = i * (i + 1) // 2
        t_num_list.append(t_num) # all the values are added in the t_numbers_list
    return t_num_list

# Generate the first n triangular numbers (here, n number is taken as 5)
n = 5
first_5_triangular_numbers_list = generate_t_num_list(n)

# Print the list
print(first_5_triangular_numbers_list)

[1, 3, 6, 10, 15]

# Question 49

Check if a list contains another list as a subsequence

In [124]:
# taking a test list and a subsequnt list
t_list = [9, 4, 5, 8, 10]
sub_list = [10, 5]

# printing the lists
print("Original list : " + str(t_list))
print("Original sub list : " + str(sub_list))

flag = 0
if(set(sub_list).issubset(set(t_list))):
	flag = 1 # checking subsets of lists
    
    
# printing result
if (flag):
	print("Yes, list is subset of other.")
else:
	print("No, list is not subset of other.")

Original list : [9, 4, 5, 8, 10]
Original sub list : [10, 5]
Yes, list is subset of other.

# Question 50

Swap two elements in a list by their indices

In [125]:
# an user defined function defined for this question 
def swapPositions(list, pos1, pos2):
	
	list[pos1], list[pos2] = list[pos2], list[pos1]
	return list

# Driver function
List = [23, 65, 19, 90]
pos1, pos2 = 1, 3 #testing the code

print(swapPositions(List, pos1-1, pos2-1)) # printing the value

[19, 65, 23, 90]

# Tuple Based Practice Problem

# Question 1

Create a tuple with integers from 1 to 5.

In [126]:
# creating tuple
t = (1,2,3,4,5)

# printing the type of variable t
type(t)

tuple

# Question 2

Access the third element of a tuple

In [128]:
# performing the answer of this question, we can use previous tuple
print(t)


# accessing the third element of the tuple,
# since indexing starts from 0, so calling the third element, we have to use index 2
t[2]

(1, 2, 3, 4, 5)

3

# Question 3

Find the length of a tuple without using the `len()` function

In [130]:
# in this scenario, an user defined function can be created
my_tuple = (1, 2, 3, 4, 5)

# printing the tuple
print(my_tuple)


def length_of_tuple(my_tuple):
    count = 0
    for _ in my_tuple: #for loop can be used in this case
        count += 1
    return count #returning count value




length = length_of_tuple(my_tuple) #length of tuple is stored into length variable
print("Length of the tuple:", length) # printing the length

(1, 2, 3, 4, 5)
Length of the tuple: 5

# Question 4

Count the occurrences of an element in a tuple

In [132]:
# for finding occurence of any perticular element (say 5), for loop can be used
t1 = (1,5,4,7,5,9,6,2,3,4,7,5,1,2) # taking a tuple of some values


# printing the tuples
print(t1)


x = [i for i in t1 if i == 5] # for loop executed
print("the element 5 occurs: ", len(x), "times") #printing the values

(1, 5, 4, 7, 5, 9, 6, 2, 3, 4, 7, 5, 1, 2)
the element 5 occurs:  3 times

# Question 5

Find the index of the first occurrence of an element in a tuple

In [136]:
# index() function can be used in this scenario

t3 = ( 4,2,5,6,7,5,7,3,9,5,7,5,1)

# printing the tuple
print(t3)


print("the first occurence of number 5 in this tuple is:", t3.index(5)) #printing the first occurence of 5 number in the tuple

(4, 2, 5, 6, 7, 5, 7, 3, 9, 5, 7, 5, 1)
the first occurence of number 5 in this tuple is: 2

# Question 6

Check if an element exists in a tuple

In [138]:
# for executing this question, a tuple is created
t3 = (10, 4, 5, 6, 8)

# printing the tuple
print(t3)

n = 6  #taking a value which we will find in the tuple

x = [i for i in t3 if i == n]  #for loop can be used in this case

print(["element 6 is present in tuple" if x else "element 6 is not present in tuple"]) #printing the value

(10, 4, 5, 6, 8)
['element 6 is present in tuple']

# Question 7

Convert a tuple to a list

In [144]:
# first we make a tuple for answering this question
t1 = (1,5,4,7,8,6,9,3,2,5,4,1,5,6,9,7,2,0)

# printing the tuple
print(t1)

# printing the type of the tuple
print(type(t1))

# we can simply convert tuple into list by using list() function
tuple_to_list = list(t1)


# now printing the list
print(tuple_to_list)


# checking the type of tuple_to_list variable
print(type(tuple_to_list))

(1, 5, 4, 7, 8, 6, 9, 3, 2, 5, 4, 1, 5, 6, 9, 7, 2, 0)
<class 'tuple'>
[1, 5, 4, 7, 8, 6, 9, 3, 2, 5, 4, 1, 5, 6, 9, 7, 2, 0]
<class 'list'>

# Qusetion 8

Convert a list to a tuple

In [147]:
# in this scenario, we can use tuple_to_list variable which we obtained in execution of last question
print(tuple_to_list)

# printing the type of the list printed above
print(type(tuple_to_list))


# we can convert this list into tuple by using tuple() function
list_to_tuple = tuple(tuple_to_list)


# printing the value
print(list_to_tuple)


# checking the type of the variable
print(type(list_to_tuple))

[1, 5, 4, 7, 8, 6, 9, 3, 2, 5, 4, 1, 5, 6, 9, 7, 2, 0]
<class 'list'>
(1, 5, 4, 7, 8, 6, 9, 3, 2, 5, 4, 1, 5, 6, 9, 7, 2, 0)
<class 'tuple'>

# Question 9

Unpack the elements of a tuple into variables

In [150]:
# in this scenario, we can make a tuple
t3 = (4,2,5,9,8,7,3)


# printing the tuple
print(t3)


# now unpacking elements into variables
a,b,c,d,e,f,g = t3


# printing the variables to check the elements are unpacked or not
print(a,b,c,d,e,f,g)

(4, 2, 5, 9, 8, 7, 3)
4 2 5 9 8 7 3

# Question 10

Create a tuple of even numbers from 1 to 10

In [151]:
# we can use tuple() function to create a tuple
#for loop can be executed in this scenario
even_number = tuple(x for x in range(2, 11, 2))


# printing the value
print(even_number)

(2, 4, 6, 8, 10)

# Question 11

Create a tuple of odd numbers from 1 to 10

In [157]:
# we can use tuple() function to create a tuple
#for loop can be executed in this scenario
odd_number = tuple(x for x in range(1, 11, 2))


# printing the value
print(odd_number)

(1, 3, 5, 7, 9)

# Question 12

Concatenate two tuples

In [159]:
# first we create two tuples of some value
t2 = (1,2,3,4,5)
t3 = (6,7,8,9,10)


# printing both tuples
print("tuple1:", t2)
print("tuple2:", t3)


# now concatinating two tuple
concat = t2+t3


# printing the new tuple
print("after concatination, new tuple:",concat)

tuple1: (1, 2, 3, 4, 5)
tuple2: (6, 7, 8, 9, 10)
after concatination, new tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Question 13

Repeat a tuple three times

In [164]:
#making a tuple
tuple_1 = (1,2,3)

# printing this tuple
print(tuple_1)


# repeating this tuple 3 times
repeat_tuple = tuple_1*3


# printing the repeating tuple
print("after repeating 3 times, tuple:", repeat_tuple)

(1, 2, 3)
after repeating 3 times, tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

# Question 14

Check if a tuple is empty

In [166]:
# we need a tuple for this question
tuple_1 = ()


# if else statement can be used for this scenario

if len(tuple_1) == 0:
    print("The tuple_1 is empty")
else:
    print("The tuple_1 is not empty")

The tuple_1 is empty

# Question 15

Create a nested tuple

In [170]:
# first we need two tuple of some values
tup1 = (1, 2, 3)
tup2 = (4, 5, 6)


# printing tuple 1 and 2
print(tup1)
print(tup2)

# making nested tuple
nested_tuple = tup1 + tup2


#printing nested tuple
print("after nested, tuple:", nested_tuple)

(1, 2, 3)
(4, 5, 6)
after nested, tuple: (1, 2, 3, 4, 5, 6)

# Question 16

Access the first element of a nested tuple

In [173]:
# in this case, we can take nested_tuple which we made earlier
print(nested_tuple)


# Accessing the first element
print("first element of this tuple is:", nested_tuple[0])

(1, 2, 3, 4, 5, 6)
first element of this tuple is: 1

# Question 17

Create a tuple with a single element

In [174]:
# Creating a tuple with a single element need a value and comma after the value
tup3 = (1,)


# printing the tuple
print(tup3)

# Checking the type of tuple_11 variable
type(tup3)

(1,)

tuple

# Question 18

Compare two tuples

In [175]:
# in this case we need two tuples with values added in them 
tup4 = (1,2,3)
tup5 = (1,2,3)


# writing a code to comparing two tuples

if tup4 == tup5:
    print("the two tuples are in same value")

else:
    print("the tuples are not in same value")

the two tuples are in same value

# Question 19

Delete a tuple

In [176]:
# we can use del operator to delete a tuple
# first we need a tuple of some value
tup6 = (1,2,3,4)


# printing the tuple
print(tup6)

(1, 2, 3, 4)

In [177]:
# now using del operator on the tup6 variable
del(tup6)

In [178]:
# now printing tup6 for checking the operator executed properly or not
tup6

NameError: name 'tup6' is not defined

# Question 20

Slice a tuple

In [179]:
# in this scenatio, we need a tuple

tup7 = ('a','b','c','d','e','f','g','h','i','j')

In [180]:
# for slicing we need tuple variable[start:end:jump]

tup7[0:4:2]

('a', 'c')

# Question 21

Find the maximum value in a tuple

In [181]:
# first we make a tuple in this scenario

tup8 = (1,2,3,4,5,6)

In [182]:
# we can use max() function to find max value of the tuple

max(tup8)

6

# Question 22

Find the minimum value in a tuple

In [184]:
# first we make a tuple in this scenario

tup8 = (1,2,3,4,5,6)

In [185]:
# we can use min() function to obtain minimum value from a tuple

min(tup8)

1

# Question 23

Convert a string to a tuple of characters

In [186]:
# in this scenario, we need a string 

str_11 = "pwskills is the best platform to learn coding"

In [187]:
# converting list to tuple

tup9 = tuple(str_11)

In [188]:
# now printing the tuple

print(tup9)

('p', 'w', 's', 'k', 'i', 'l', 'l', 's', ' ', 'i', 's', ' ', 't', 'h', 'e', ' ', 'b', 'e', 's', 't', ' ', 'p', 'l', 'a', 't', 'f', 'o', 'r', 'm', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n', ' ', 'c', 'o', 'd', 'i', 'n', 'g')

# Question 24

Convert a tuple of characters to a string

In [189]:
# in this case we can use the tup9 whicc we made earlier
print(tup9)

('p', 'w', 's', 'k', 'i', 'l', 'l', 's', ' ', 'i', 's', ' ', 't', 'h', 'e', ' ', 'b', 'e', 's', 't', ' ', 'p', 'l', 'a', 't', 'f', 'o', 'r', 'm', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n', ' ', 'c', 'o', 'd', 'i', 'n', 'g')

In [190]:
# converting the tuple into string using join() function
str_12 = ''.join(tup9)

In [191]:
# printing the string
print(str_12)

pwskills is the best platform to learn coding

# Question 25

Create a tuple from multiple data types

In [192]:
# we can use string, integer, boolean, float datatypes in a tuple
tup_10 = ('hello', 5, 3.6, True)

In [193]:
# now printing the tuple
print(tup_10)

('hello', 5, 3.6, True)

# Question 26

Check if two tuples are identical

In [197]:
# in this case we can take two tuples which are identical
tup_11 = (2,3,4,5,6)
tup_12 = (2,3,4,5,6)


# printing the tuples
print("tup_11:", tup_11)
print("tup_12:", tup_12)


# if else statement can be used in this case


if tup_11 == tup_12:
    print("tuples 'tup_11' and 'tup_12' both are identical")
else:
    print("tuples 'tup_11' and 'tup_12' both are not identical")

tup_11: (2, 3, 4, 5, 6)
tup_12: (2, 3, 4, 5, 6)
tuples 'tup_11' and 'tup_12' both are identical

# Question 27

Sort the elements of a tuple

In [216]:
# Create a tuple
tup_13 = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)


#printing the tuple
print("before sorting tuple:", tup_13)

# Convert the tuple to a list
list_13 = list(tup_13)

# Sort the list
list_13.sort()

# Convert the sorted list back to a tuple
print("after sorting:", tuple(list_13))

before sorting tuple: (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)
after sorting: (1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9)

# Question 28

Convert a tuple of integers to a tuple of strings

In [219]:
# first we make a tuple of some integers
tup_14 = (2,5,4,7,9,5,6)

# printing the tuple
print(tup_14)

(2, 5, 4, 7, 9, 5, 6)

In [220]:
# for loop can be used in this scenario

str_tuple = tuple(str(i) for i in tup_14)

In [221]:
# printing the str_tuple

print(str_tuple)

('2', '5', '4', '7', '9', '5', '6')

# Question 29

Convert a tuple of strings to a tuple of integers

In [222]:
# in this case we could use the str_tuple
str_tuple

('2', '5', '4', '7', '9', '5', '6')

In [223]:
# for loop can be used in this scenario
int_tuple = tuple(int(i) for i in str_tuple)

In [224]:
# printing the integer tuple
print(int_tuple)

(2, 5, 4, 7, 9, 5, 6)

# Question 30

Merge two tuples

In [226]:
# we can simply use addition sign to merge two tuples
# in this scenario, we need two tuples

tuple_01 = ('apple','banana','orange')
tuple_02 = ('guava', 'watermelon')


#printing the two tuples
print(tuple_01)
print(tuple_02)

('apple', 'banana', 'orange')
('guava', 'watermelon')

In [227]:
# merging two tuples
merge_tuple = tuple_01 + tuple_02

In [228]:
# printing merging tuple
print(merge_tuple)

('apple', 'banana', 'orange', 'guava', 'watermelon')

# Question 31

Flatten a nested tuple

In [231]:
# first we need a nested tuple for this case
nested_tuple = ((1, 2), (3, (4, 5)), 6, (7, 8))


# printing the nested tuple
print("nested tuple:", nested_tuple)


def flatten_nested_tuple(nested_tuple): # an user defined function is created in this scenario
    
    flat_list = [] # flat list is made which we will typecast this list into tuple
    
    for i in nested_tuple: # for loop can be used in this case
        
        if isinstance(i, tuple):
            flat_list.extend(flatten_nested_tuple(i))
        else:
            flat_list.append(i) #if-else statement also used in this case
            
    return tuple(flat_list) #making the list into tuple


# checking the code

flatten_tuple = flatten_nested_tuple(nested_tuple)

print("flatten_tuple:", flatten_tuple)

nested tuple: ((1, 2), (3, (4, 5)), 6, (7, 8))
flatten_tuple: (1, 2, 3, 4, 5, 6, 7, 8)

# Question 32

Create a tuple of the first 5 prime numbers

In [232]:
# user defined function can be created for this scenario
# Defining a function to checking if a number is prime
def is_prime(n):
    # Checking n is divisible by any number from 2 to (n-1)
    for i in range(2, n):
        if n % i == 0:
            return False
    return True


# Print the first 5 prime numbers
for i in range(2, 12):
    if is_prime(i):
        print(i)

2
3
5
7
11

# Question 33

Check if a tuple is a palindrome

In [234]:
# first we take a normal tuple named n_tuple with some value
n_tuple = (1, 4, 5, 4, 1)

# printing tuple
print(n_tuple)

# making a reversed tuple in which the placements of the values of n_tuple gets reversed 
reversed_tuple = n_tuple[::-1] #reversing the order of element of the tuple

if reversed_tuple == n_tuple:
    print(" this tuple is in palindrome order")
else:
    print(" this tuple is not in palindrome order")

# if the tuple value remains same after reversing the order of the tuples, then the tuple is in palindrome order

(1, 4, 5, 4, 1)
 this tuple is in palindrome order

# Question 34

Create a tuple of squares of numbers from 1 to 5

In [236]:
# first we need a tuple for executing this question
tuple_2 = (1,2,3,4,5)


# printing the tuple
print(tuple_2)



# creating a tuple of square values of index of tuple_2
square_tuple = tuple(n ** 2 for n in tuple_2)




# printing the square_tuple
print("square_tuple:", square_tuple)

(1, 2, 3, 4, 5)
square_tuple: (1, 4, 9, 16, 25)

# Question 35

Filter out all even numbers from a tuple

In [239]:
# we need a tuple for executing this command
tuple_3 = (1,2,3,4,5,6,7,8,9,10)

# printing tuple
print(tuple_3)


# Use list comprehension to filter out even numbers
filtered_tuple = tuple(x for x in tuple_3 if x % 2 != 0)

print("filtered_tuple:", filtered_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple: (1, 3, 5, 7, 9)

# Question 36

Multiply all elements in a tuple by 2.

In [244]:
# here we can create a tuple using some values
tuple_4 = (1,2,3,4,5,6,7,8,9,10)


# printing tuple
print("before multiplying tuple by 2:", tuple_4)


# Create a new tuple with elements multiplied by 2
new_tuple = tuple(x * 2 for x in tuple_4)

print("after multiplying tuple by 2:", new_tuple)

before multiplying tuple by 2: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
after multiplying tuple by 2: (2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

# Question 37

Create a tuple of random numbers

In [246]:
# this question can be answered by using random library
import random # first we need to import random library

random_numbers = tuple(random.randint(1, 10) for x in range(5)) #randint() function used for execution of this tuple

print(random_numbers) # printing tuples of random numbers

(10, 4, 6, 4, 3)

# Question 38

Check if a tuple is sorted

In [250]:
# first we need a tuple of some values
# we can create a tuple 

normal_tuple = (1,2,3,4,5,6,7,8)

# printing tuple
print("tuple before sorting:", normal_tuple)


sorted_tuple = tuple(sorted(normal_tuple)) # sorting the normal tuple

# printing sorted_tuple
print("sorted tuple:", sorted_tuple)


# if the values of the tuple in sorted order then the tuple is sorted

if sorted_tuple == normal_tuple:
    print("tuple is sorted")
else:
    print("tuple is not sorted")

tuple before sorting: (1, 2, 3, 4, 5, 6, 7, 8)
sorted tuple: (1, 2, 3, 4, 5, 6, 7, 8)
tuple is sorted

# Question 39

Rotate a tuple to the left by `n` positions

In [251]:
lt_tuple = (5, 10, 15, 20, 25, 30, 35, 40, 45, 50) # making a tuple of some integer values

lt_list = list(lt_tuple)

leftRotate_1 = int(input("Enter Position to Left Rotate List Items = ")) #taking a user input function for the 'n'th position rotation

print('Original Tuple Items Before Left Rotating')
print(tuple(lt_list)) # printing the original tuple

lt_list_2 = lt_list[leftRotate_1:] + lt_list[:leftRotate_1]

print('\nFinal List Items After Left Rotating')


print(tuple(lt_list_2)) # after ratating the 'n' th position, the final tuple is printed.

Enter Position to Left Rotate List Items =  2

Original Tuple Items Before Left Rotating
(5, 10, 15, 20, 25, 30, 35, 40, 45, 50)

Final List Items After Left Rotating
(15, 20, 25, 30, 35, 40, 45, 50, 5, 10)

# Question 40

Rotate a tuple to the right by `n` positions

In [252]:
lt_tuple_1 = (5, 10, 15, 20, 25, 30, 35, 40, 45, 50) # making a tuple of some integer values
lt_list_1 = list(lt_tuple_1)

rightRotate_1 = int(input("Enter Position to Right Rotate List Items = ")) #taking a user input function for the 'n'th position rotation

print('Original Tuple Items Before Right Rotating:')
print(tuple(lt_list_1)) # printing the original list

lt_list_3 = lt_list_1[-rightRotate_1:] + lt_list[:-rightRotate_1]


print('\nFinal Tuple Items After Right Rotating:')
print(tuple(lt_list_3)) # after ratating the 'n' th position, the final list is printed.

Enter Position to Right Rotate List Items =  2

Original Tuple Items Before Right Rotating:
(5, 10, 15, 20, 25, 30, 35, 40, 45, 50)

Final Tuple Items After Right Rotating:
(45, 50, 5, 10, 15, 20, 25, 30, 35, 40)

# Question 41

Create a tuple of the first 5 Fibonacci numbers

In [255]:
# we can use user defined function in this scenario

# Function to generate the first n Fibonacci numbers and return them as a tuple
def generate_fibonacci(n):
    fibonacci_numbers = []
    a, b = 1, 2
    for _ in range(n):
        fibonacci_numbers.append(a) # append function used in this case
        a, b = b, a + b
    return tuple(fibonacci_numbers) #for returning the values as tuple


# Generating the first 5 Fibonacci numbers
first_5_fibonacci = generate_fibonacci(5)

# Printing the tuple
print(first_5_fibonacci)

(1, 2, 3, 5, 8)

# Question 42

Create a tuple from user input

In [256]:
# first we use input method for making user input tuple

user_input = input("Enter the items for the tuple, separated by commas: ")

# Splitting the user input into  list of strings

items = user_input.split(",")

# Converting the list of strings into tuple

tuple_items = tuple(items)

# Printing the tuple

print("the tuple from taking user input is: ", tuple_items)

Enter the items for the tuple, separated by commas:  1,4,8,7

the tuple from taking user input is:  ('1', '4', '8', '7')

# Question 43

Swap two elements in a tuple

In [257]:
# first we make a tuple of value 1 and 2
tuple_1 = (1, 2)


# printing the tuple
print("tuple before swapping:", tuple_1)

# Creating a list from the tuple
list_11 = list(tuple_1)

# Swap the elements at index 0 and 1
list_11[0], list_11[1] = list_11[1], list_11[0]

# Convert the list back to a tuple
tuple_2 = tuple(list_11)

print("tuple after swapping:", tuple_2)

tuple before swapping: (1, 2)
tuple after swapping: (2, 1)

# Question 44

Reverse the elements of a tuple

In [260]:
# an user defined function can be used in this scenario

tuples_21 = ('p', 'w', 's', 'k', 'i', 'l', 'l', 's')


# printing tuple
print("tuple before reversing:", tuples_21)

def reverse(tuples): # user defined function implemented
    new_tup = tuples[::-1] #jump = -1 for reversing the indexes of the tuple values
    return new_tup # returning new tuple values


print("tuple after reversing:", reverse(tuples_21)) #printing the values

tuple before reversing: ('p', 'w', 's', 'k', 'i', 'l', 'l', 's')
tuple after reversing: ('s', 'l', 'l', 'i', 'k', 's', 'w', 'p')

# Question 45

Create a tuple of the first `n` powers of 2

In [263]:
# creating a function to generate the first n powers of 2 and return them as a tuple
# using an user-defined function named as gen_power_of_2

def gen_power_of_2(n):
    powers_of_2 = []
    for i in range(n): #for loop can be used in this scenario
        powers_of_2.append(2 ** i) #appending the values into the list named power_of_2 
    return tuple(powers_of_2) #returning the power_of_2 as a tuple

# Generating the first n powers of 2 (here, n takes as 5)
n = 5
first_n_powers_of_2 = gen_power_of_2(n)

# Printing the tuple
print(first_n_powers_of_2)

(1, 2, 4, 8, 16)

# Question 46

Find the longest string in a tuple of strings

In [266]:
# we can make a tuple in this case
t11 = ('I', 'am', 'learning', 'data', 'science', 'masters', 'from', 'pw', 'skills')



# printing the tuple
print(t11)


# finding the longest string in this tuple
t11_max = max(t11, key = len)


# printing the value
print("longest string in the tuple is:", t11_max)

('I', 'am', 'learning', 'data', 'science', 'masters', 'from', 'pw', 'skills')
longest string in the tuple is: learning

# Question 47

Find the shortest string in a tuple of strings

In [268]:
# we can make a tuple in this case
t11 = ('I', 'am', 'learning', 'data', 'science', 'masters', 'from', 'pw', 'skills')


# printing the tuple
print(t11)


# finding the shortest string in this tuple
t11_min = min(t11, key = len)


# printing the value
print("shortest string in this tuple is:", t11_min)

('I', 'am', 'learning', 'data', 'science', 'masters', 'from', 'pw', 'skills')
shortest string in this tuple is: I

# Question 48

Create a tuple of the first `n` triangular numbers

In [269]:
# for answering this question, an user defined function can be created

def tri_num(n):
  return tuple(i * (i + 1) // 2 for i in range(1, n + 1)) #this creates a tuple of the first n triangular numbers.

# checking the user defined function


tri_num(5)

(1, 3, 6, 10, 15)

# Question 49

Check if a tuple contains another tuple as a subsequence

In [270]:
# using issubset() we can check if one tuple is subset of other

test_tuple1 = (10, 4, 5, 6)
test_tuple2 = (5, 10)


# printing original tuples
print("The original tuple 1 : " + str(test_tuple1))
print("The original tuple 2 : " + str(test_tuple2))


# Checking if one tuple is subset of other
res = set(test_tuple2).issubset(test_tuple1)


# printing the result
print("Is 2nd tuple subset of 1st ? : " + str(res))

The original tuple 1 : (10, 4, 5, 6)
The original tuple 2 : (5, 10)
Is 2nd tuple subset of 1st ? : True

# Question 50

Create a tuple of alternating 1s and 0s of length `n`

In [271]:
alt_tuple = [] # first we make an empty list named alt_tuple 
for i in range(10): #for loop used in this scenario
    if i % 2 == 0: 
        alt_tuple.append(1)
    else:
            alt_tuple.append(0) #if the number is divisible by 2 then add 1 in the alt_tuple list or add 0 to the list

tuple(alt_tuple) #typecasting the list into tuple

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

# Set Based Practice Problem

# Question 1

Create a set with integers from 1 to 5

In [272]:
# Creating set
set_1 = {1,2,3,4,5}


# Printing the set and its type
print(set_1)
print(type(set_1))

{1, 2, 3, 4, 5}
<class 'set'>

# Question 2

Add an element to a set

In [275]:
# making a set
set_2 = {1,2,3,4,5,6}


# printing the set 
print("before adding element to the set:", set_2)


# adding an element to the set 
set_2.add(7)


# printing the set again
print("after adding element in the set: ", set_2)

before adding element to the set: {1, 2, 3, 4, 5, 6}
after adding element in the set:  {1, 2, 3, 4, 5, 6, 7}

# Question 3

Remove an element from a set

In [276]:
# First we need a set 
set_3 = {1,2,3,4,5,6}


# printing the set 
print("before removing element from set:", set_3)


# Removing element from a set 
set_3.pop()


# printing the set again
print("after removing element from set:", set_3)

before removing element from set: {1, 2, 3, 4, 5, 6}
after removing element from set: {2, 3, 4, 5, 6}

# Question 4

Check if an element exists in a set

In [277]:
# making a set 
set_4 = {1,2,3,4}

# checking an element prenet in the set or not
# if-else statement can be used in this scenario

x = 2 # here element takes as 2

if x in set_4:
    print('yes')
else:
    print('no')

yes

# Question 5

Find the length of a set without using the `len()` function

In [278]:
# making a set 
set_5 = {1,2,3,4,5,6,7,8,9}


# printing the set 
print(set_5)


# Initializing a count variable for executing this program

count = 0

# Iterating through the set and counting each element

for element in set_5:
    count += 1 #for loop used in this scenario

# printing length of the set

print("Length of the set:", count)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
Length of the set: 9

# Question 6

Clear all elements from a set

In [280]:
# making a set
set_6 = {1,2,3,4,5,6}


# printing set 
print("before clearing all elements from set:", set_6)


# Clearing all elements from the set
set_6.clear()


# printing the set again
print("after clearing all elements from set:", set_6)

before clearing all elements from set: {1, 2, 3, 4, 5, 6}
after clearing all elements from set: set()

# Question 7

Create a set of even numbers from 1 to 10

In [281]:
# range() can be used in this scenario
even_set = set(range(2, 11, 2))



# Printing the even_set
print(even_set)

{2, 4, 6, 8, 10}

# Question 8

Create a set of odd numbers from 1 to 10

In [282]:
# range() can be used in this scenario
odd_set = set(range(1, 10, 2))



# Printing the even_set
print(odd_set)

{1, 3, 5, 7, 9}

# Question 9

Find the union of two sets

In [283]:
# we need two set in this case

set_7 = {1,2,3,4}

set_8 = {5,6,7,8}


# printing the sets
print(set_7)
print(set_8)



# union of two set
union_set = set_7.union(set_8)


# printing the union_set
print("union set:", union_set)

{1, 2, 3, 4}
{8, 5, 6, 7}
union set: {1, 2, 3, 4, 5, 6, 7, 8}

# Question 10

Find the intersection of two sets

In [284]:
# we need two sets in this scenario

set_9 = {1,2,3,4}
set_10 = {4,5,6,7}



# printing the sets
print(set_9)
print(set_10)



intersect_set = set_9.intersection(set_10)



# printing the intersect_set
print("intersection set:", intersect_set)

{1, 2, 3, 4}
{4, 5, 6, 7}
intersection set: {4}

# Question 11

Find the difference between two sets

In [287]:
# we can use difference() function to find differnce between set 11 and set 12

set_11 = {10, 20, 30, 40, 80}

set_12 = {100, 30, 80, 40, 60}


#printing the sets
print(set_11)
print(set_12)


print ("difference between set_11 and set_12:", set_11.difference(set_12))

print ("difference between set_12 and set_11:",set_12.difference(set_11)) # prining the differences

{80, 20, 40, 10, 30}
{80, 100, 40, 60, 30}
difference between set_11 and set_12: {10, 20}
difference between set_12 and set_11: {100, 60}

# Question 12

Check if a set is a subset of another set

In [ ]:
# issubnet() can be used in this question

In [288]:
set_13 = {1, 2, 3}
set_14 = {1, 2, 3, 4, 5}


if set_13.issubset(set_14):
    print("set_14 is a superset of set_13")
else:
    print("set_14 is not a superset of set_13") # if all items of set_13 are present in set_14

set_14 is a superset of set_13

# Question 13

Check if a set is a superset of another set

In [ ]:
# issubnet() can be used in this question

In [289]:
set_13 = {1, 2, 3}
set_14 = {1, 2, 3, 4, 5}


if set_14.issuperset(set_13):
    print("set_14 is a superset of set_13")
else:
    print("set_14 is not a superset of set_13") # if all items of set_13 are present in set_14

set_14 is a superset of set_13

# Question 14

Create a set from a list

In [291]:
# first we need a list for this 
n_list = [1,2,3,4,5,6,7]

# printing the list 
print(n_list)


# printing type of n_list
print(type(n_list))


# converting list to set
set_15 = set(n_list)


# printing the set
print(set_15)

#printing the type of the set
print(type(set_15))

[1, 2, 3, 4, 5, 6, 7]
<class 'list'>
{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

# Question 15

Convert a set to a list

In [292]:
# making a set 
set_16 = {1,2,3,4}


#printing set
print(set_16)


#printing type
print(type(set_16))


# converting set to list
set_to_list = list(set_16)



# printing the set
print(set_to_list)


#printing the type of the variable set_to_list
print(type(set_to_list))

{1, 2, 3, 4}
<class 'set'>
[1, 2, 3, 4]
<class 'list'>

# Question 16

Remove a random element from a set

In [293]:
# taken a list
set_17 = {'apple', 'banana', 'orange', 'watermelon'}


# printing set 
print("set before removing element:", set_17)


# pop() function can be used in this case
set_17.pop()


# printing set_17 again to check if code is implemented properly
print("set after removing element:",set_17)

set before removing element: {'apple', 'banana', 'orange', 'watermelon'}
set after removing element: {'banana', 'orange', 'watermelon'}

# Question 17

Pop an element from a set

In [294]:
# taking a set 
set_18 = {'kolkata', 'chennai', 'pune', 'bangalore', 'delhi'}


# printing set 
print("set before poping element:", set_18)


# poping an element from the list
set_18.pop()


# printing the result
print("set after poping element:", set_18)

set before poping element: {'kolkata', 'pune', 'bangalore', 'delhi', 'chennai'}
set after poping element: {'pune', 'bangalore', 'delhi', 'chennai'}

# Question 18

Check if two sets have no elements in common

In [ ]:
# if no elements in common in these two sets, then it returns True

In [5]:
set_19 = {1, 2, 3}
set_20 = {4, 5, 6}

print(f"set_19 and set_20 is ", set_19, "and", set_20)

def check_no_elements_in_common(set_19, set_20): # Checks if two given sets have no elements in common.
    return set_19.isdisjoint(set_20)

print("in these sets, have no common elements in common?", check_no_elements_in_common(set_19, set_20))
# if there is no common elements, it returns true, 
# if there is some common elements present, it returns false

set_19 and set_20 is  {1, 2, 3} and {4, 5, 6}
in these sets, have no common elements in common? True

# Question 19

Find the symmetric difference between two sets

In [ ]:
# we can use symmetric_difference() function in this scenario

In [8]:
set_21 = {1, 2, 3, 4, 5}
set_22 = {6, 7, 3, 9, 4}

# printing the sets
print(f" set_21 and set_22 is: {set_21} and  {set_22}")

print(" symmetric difference between these two sets are:", set_21.symmetric_difference(set_22)) # printing the difference

 set_21 and set_22 is: {1, 2, 3, 4, 5} and  {3, 4, 6, 7, 9}
 symmetric difference between two sets are: {1, 2, 5, 6, 7, 9}

# Question 20

Update a set with elements from another set

In [7]:
# we need two set for this case

set_23 = {1,2,3}

set_24 = {5,6,7}

print(f"set_23 and set_24 is: {set_23} and {set_24}")


# Update method
set_23.update(set_24)


# Print the updated set
print(set_23)

set_23 and set_24 is: {1, 2, 3} and {5, 6, 7}
{1, 2, 3, 5, 6, 7}

# Question 21

Create a set of the first 5 prime numbers

In [9]:
# Function to check if a number is prime

def is_prime(num): # user defined function is created
    if num <= 1:
        return False # if the number is less than or equal to 1 then the number is not prime since number 1 is not prime number
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False 
    return True # if the num is divisible by i then its not a prime number. if not divisible, then it can be return true as the number is 
# prime number


# Creating a set of the first 5 prime numbers
first_5_primes = set()
num = 2  # Starting with the first prime number


while len(first_5_primes) < 5: # also using while loop, this question can be answered 
    if is_prime(num):
        first_5_primes.add(num)
    num += 1
    
    
# Printing the set
print(first_5_primes)

{2, 3, 5, 7, 11}

# Question 22

Check if two sets are identical

In [12]:
# in this case we need two sets 

set_24 = {1,2,3,4,5}

set_25 = {1,2,3,4,5}

# printing the sets
print(f" set_24 and set_25 are: {set_24} and {set_25}")


# if else statement can be used in this scenario

if set_24 == set_25:
    print('these two sets are identical')
else:
    print('these two sets are identical')

 set_24 and set_25 are: {1, 2, 3, 4, 5} and {1, 2, 3, 4, 5}
these two sets are identical

# Question 23

Create a frozen set

In [13]:
# frozenset returns an immutable set

# creating a frozen set

fruits = frozenset(["apple", "banana", "orange"])

# printing the frozen set

print(fruits)

frozenset({'orange', 'banana', 'apple'})

In [16]:
# checking wheather any value can be append to the fruits set 

fruits.add("pink")
# it will show an error


# again printing fruits 


print(fruits) # it will show an error append in the set since the set is frozen

AttributeError: 'frozenset' object has no attribute 'add'

# Question 24

Check if a set is disjoint with another set

In [ ]:
# isdisjoint() function can be used in this case

In [18]:
# creating sets

set_26 = {2, 4, 5, 6}
set_27 = {7, 8, 9, 10}
set_28 = {1, 2}


# printing the sets
print(f" values of set_26, set_27, and set_28 are: {set_26}, {set_27}, {set_28}")


# checking of disjoint of two sets
print("set_26 and set_27 are disjoint?",
	set_26.isdisjoint(set_27))

print("set_26 and set_28 are disjoint?",
	set_26.isdisjoint(set_28))

 values of set_26, set_27, and set_28 are: {2, 4, 5, 6}, {8, 9, 10, 7}, {1, 2}
set_26 and set_27 are disjoint? True
set_26 and set_28 are disjoint? False

# Question 25

Create a set of squares of numbers from 1 to 5

In [ ]:
# Create a set of squares of numbers from 1 to 5

In [19]:
squares_set = set()

for num in range(1, 6): # for loop can be used in this case
    square = num ** 2
    squares_set.add(square)
    

# Printing the set
print(squares_set)

{1, 4, 9, 16, 25}

# Question 26

Filter out all even numbers from a set

In [35]:
# first we make a set
set_29 = {1,2,3,4,5,6,7,8,9,10}
even_set = set()

# printing the set 
print(f"before filtering out, the initial set: {set_29}")


# for loop can be used in this case

for i in set_29:
    if i%2 == 0:
        even_set.add(i)
print(f"after filtering out, the set of even number is :{even_set}")

before filtering out, the initial set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
after filtering out, the set of even number is :{2, 4, 6, 8, 10}

# Question 27

Multiply all elements in a set by 2

In [38]:
# first we make a set 

set_30 = {1,2,3,4,5}

#printing the set 
print(f"set before multiplying elements by 2: {set_30}")


# Create a new set with elements multiplied by 2
multiplied_set = {x * 2 for x in set_30}


# Printing the result set
print(f"set after multiplied the previous set by 2: {multiplied_set}")

set before multiplying elements by 2: {1, 2, 3, 4, 5}
set after multiplied the previous set by 2: {2, 4, 6, 8, 10}

# Question 28

Create a set of random numbers

In [41]:
# we have to import random for this case 
import random 


# Create an empty list
numbers = set()

# Generate 10 random numbers between 1 and 100
for i in range(5):
    numbers.add(random.randint(1, 100))

# Print the list of random numbers
print(f"set of random numbers are: {numbers}")

set of random numbers are: {33, 98, 38, 72, 92}

# Question 29

Check if a set is empty

In [42]:
# first we make an empty set
my_set = {}


# if-else statement can be used in this case

if len(my_set) == 0:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

# Question 30

Create a nested set (hint: use frozenset)

In [46]:
# Creating some frozensets
set_31 = frozenset([1, 2, 3])
set_32 = frozenset([3, 4, 5])
set_33 = frozenset([5, 6, 7])

print(f"set_31, set_32 and set_33 are: {set_31}, {set_32}, {set_33}")


# Creating a nested set containing the frozensets
nested_set = {set_31, set_32, set_33}

# Printing the nested set
print(f"nested_set: {nested_set}")

set_31, set_32 and set_33 are: frozenset({1, 2, 3}), frozenset({3, 4, 5}), frozenset({5, 6, 7})
nested_set: {frozenset({1, 2, 3}), frozenset({5, 6, 7}), frozenset({3, 4, 5})}

# Question 31

Remove an element from a set using the discard method

In [49]:
# making a set 
set_34 = {1,2,3,4,5}


# printing the set 
print(f"before discarding element, set was: {set_34}")


# Removing an element using the discard method
set_34.discard(3)


# printing the set again to check in the code is implemented properly or not
print(f"after discaring element, set is: {set_34}")

before discarding element, set was: {1, 2, 3, 4, 5}
after discaring element, set is: {1, 2, 4, 5}

# Question 32

Compare two sets

In [50]:
# first we take two sets of some values
set_35 = {1, 2, 3}
set_36 = {3, 2, 1}


# if the values if the sets are equal then it prints 'equal' or unequal values shows 'not equal'

if set_35 == set_36:
    print("The sets are equal")
else:
    print("The sets are not equal")

The sets are equal

# Question 33

Create a set from a string

In [52]:
# taking a string
normal_string = 'pwskills'

# printing string
print(f"string: {normal_string}")


# converting string to set
string_to_set = set(normal_string)


# Printing set
print(f"string_to_set: {string_to_set}")

string: pwskills
string_to_set: {'p', 'l', 'k', 'w', 'i', 's'}

# Question 34

Convert a set of strings to a set of integers

In [55]:
# Creating a set of strings
string_set = {'1', '2', '3'}

#printing set
print(f"set of string: {string_set}")


# implementing code
integers = {int(s) for s in string_set}


# Print the set of integers
print(f"set of integers: {integers}")

set of string: {'2', '1', '3'}
set of integers: {1, 2, 3}

# Question 35

Convert a set of integers to a set of strings

In [57]:
# Creating a set of integers
integers = {1, 2, 3}


# printing the set of integers
print(f"set of integers: {integers}")


# implementing code to convert set of integers to set of strings
strings = {str(integer) for integer in integers}


# Print the set of strings
print(f"the set of string after converting:  {strings}")

set of integers: {1, 2, 3}
the set of string after converting:  {'2', '1', '3'}

# Question 36

Create a set from a tuple

In [59]:
# Creating set 
tuple_1 = (1,2,3)


# printing the tuple
print(f"tuple : {tuple_1}")


# implementing code for converting set from a tuple
set_from_tuple = set(tuple_1)



# printing the set
print(f"creating set from tuple: {set_from_tuple}")

tuple : (1, 2, 3)
creating set from tuple: {1, 2, 3}

# Question 37

Convert a set to a tuple

In [60]:
# creating a set
set_37 = {1,2,3,4,5,6}


# printing the set 
print(f"set: {set_37}")


# converting set to a tuple
set_to_tuple = tuple(set_37)


# printing the set
print(f"after converting set to tuple: {set_to_tuple}")

set: {1, 2, 3, 4, 5, 6}
after converting set to tuple: (1, 2, 3, 4, 5, 6)

# Question 38

Find the maximum value in a set

In [62]:
# Creating a set
set_38 = {5,2,7,8,9,4,5,6,2,1,7,3}


# printing the set 
print(f"set: {set_38}")


# Finding the maximum value in the set
max_value = max(set_38)


# Print the maximum value
print("The maximum value in the set is:", max_value)

set: {1, 2, 3, 4, 5, 6, 7, 8, 9}
The maximum value in the set is: 9

# Question 39

Find the minimum value in a set

In [63]:
# Creating a set
set_38 = {5,2,7,8,9,4,5,6,2,1,7,3}


# printing the value 
print(f"set: {set_38}")


# Finding the minimum value in the set
min_value = min(set_38)


# Print the minimum value
print("The minimum value in the set is:", min_value)

set: {1, 2, 3, 4, 5, 6, 7, 8, 9}
The minimum value in the set is: 1

# Question 40

Create a set from user input

In [65]:
# Creating a set.
set_40 = set()

# asking the user to enter values for the set.
values = input("Enter values for the set, separated by commas: ")


# Adding the user's input to the set.
set_40.update(values.split(","))


# Printing the set value.
print(f"set: {set_40}")

Enter values for the set, separated by commas:  1,5,6,9

set: {'6', '1', '9', '5'}

# Question 41

Check if the intersection of two sets is empty

In [66]:
# Creating two sets
set_41 = {1, 2, 3, 4}
set_42 = {5, 6, 7, 8}


# printing the set 
print(f"the set_41 and set_42 are: {set_41} and {set_42}")

# Check if the intersection is empty
if set_41.isdisjoint(set_42):
    print("The sets have no common elements (intersection is empty).")
else:
    print("The sets have some common elements.")

the set_41 and set_42 are: {1, 2, 3, 4} and {8, 5, 6, 7}
The sets have no common elements (intersection is empty).

# Question 42

Create a set of the first 5 Fibonacci numbers

In [69]:
# Function to generate the first n Fibonacci numbers and return them in a set

def generate_fibonacci_set(n): # user-defined function created
    fibonacci_set = set()
    a, b = 1, 2
    for _ in range(n): # for loop can be used in this case
        fibonacci_set.add(a) # it will add the value to the set 
        a, b = b, a + b
    return fibonacci_set

# Generating the first 5 Fibonacci numbers
first_5_fibonacci_set = generate_fibonacci_set(5)

# Print the set
print(f"first five fibonacci numbers set is: {first_5_fibonacci_set}")

first five fibonacci numbers set is: {1, 2, 3, 5, 8}

# Question 43

Remove duplicates from a list using sets

In [72]:
# Creating a list with duplicates
list_01 = [1, 2, 2, 3, 7, 7, 7, 3, 4, 2, 4, 5]


# printing the list
print(f"list before removing duplicate: {list_01}")

# Removing duplicates using sets
no_duplicate_list = list(set(list_01))

# Printing the list without duplicates values
print(f"list after removing duplicate values: {no_duplicate_list}")

list before removing duplicate: [1, 2, 2, 3, 7, 7, 7, 3, 4, 2, 4, 5]
list after removing duplicate values: [1, 2, 3, 4, 5, 7]

# Question 44

Check if two sets have the same elements, regardless of their count

In [121]:
# Creating two sets with some values
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}

# Checking if the sets have same elements
if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

# Question 45

Create a set of the first `n` powers of 2

In [73]:
# Code to generating the first n powers of 2 and returning them in a set
def generate_powers_of_2_set(n):
    
    powers_of_2_set = set()
    
    for i in range(n):
        power_of_2 = 2 ** i
        powers_of_2_set.add(power_of_2)
        
    return powers_of_2_set

# Generating the first n powers of 2 (here we take, n = 5)
n = 5
first_n_powers_of_2_set = generate_powers_of_2_set(n)

# Printing the set
print(first_n_powers_of_2_set)

{1, 2, 4, 8, 16}

# Question 46

Find the common elements between a set and a list

In [74]:
# Creating a set
my_set = {1, 2, 3, 4, 5}


# printing set 
print(f"set: {my_set}")

# Create a list
my_list = [3, 4, 5, 6, 7]


#printing list
print(f"list: {my_list}")

# Convert the list to a set and find the common elements
common_elements = set(my_list) & my_set

# Print the common elements
print("Common elements:", common_elements)

set: {1, 2, 3, 4, 5}
list: [3, 4, 5, 6, 7]
Common elements: {3, 4, 5}

# Question 47

Create a set of the first `n` triangular numbers

In [76]:
# Function to generate the first n triangular numbers and return them in a set
# user defined function can be used in this case

def generate_triangular_numbers_set(n):
    triangular_numbers_set = set()
    
    for i in range(1, n + 1): # for loop is used in this case
        
        triangular_number = i * (i + 1) // 2
        triangular_numbers_set.add(triangular_number) # adding values in the triangular_numbers_set
    return triangular_numbers_set # returning values

# Generating the first n triangular numbers (e.g., n = 5)
n = 5
first_n_triangular_numbers_set = generate_triangular_numbers_set(n)

# Printing the set
print(f"set of first 5 triangular numbers: {first_n_triangular_numbers_set}")

set of first 5 triangular numbers: {1, 3, 6, 10, 15}

# Question 48

Check if a set contains another set as a subset

In [129]:
# Creating two sets
set_48 = {1, 2, 3, 4, 5}
set_49 = {2, 3}

# Check if set2 is a subset of set1
if set_49.issubset(set_48):
    print("set_49 is a subset of set_48")
else:
    print("set_49 is not a subset of set_48")

set_49 is a subset of set_48

# Question 49

Create a set of alternating 1s and 0s of length `n`

In [77]:
# creating user defined function
def create_alternating_set(n):
    set_of_alternating_1s_and_0s = set()
    for i in range(n):
        if i % 2 == 0:
            set_of_alternating_1s_and_0s.add(1)
        else:
            set_of_alternating_1s_and_0s.add(0)
            return set_of_alternating_1s_and_0s
        
        
# testing the code 
create_alternating_set(5)

{0, 1}

# Question 50

Merge multiple sets into one

In [80]:
# this question can be answerd by using itertools library
# importing itertools library
import itertools


# creating multiple sets
set_50 = {1,2,3}
set_51 = {5,7,9}
set_52 = {10,13,11,12}


#printing sets
print(f"before merging the sets are: {set_50}, {set_51} and {set_52}")


# merging all sets by using itertools library
merged_set = set(itertools.chain(set_50,set_51,set_52))


# printing the value
print(f"after merging, the final set is: {merged_set}")

before merging the sets are: {1, 2, 3}, {9, 5, 7} and {10, 11, 12, 13}
after merging, the final set is: {1, 2, 3, 5, 7, 9, 10, 11, 12, 13}

In [32]:
# creating multiple sets

set_50 = {1,2,3}
set_51 = {5,7,9}
set_52 = {10,13,11,12}

In [33]:
# merging all sets by using itertools library

merged_set = set(itertools.chain(set_50,set_51,set_52))

In [34]:
# printing the value

print(merged_set)

{1, 2, 3, 5, 7, 9, 10, 11, 12, 13}